<ng-container *ngIf="standings$ | async as standings ;else loadingTemplate">
  <table *ngIf="standings.length > 0" class="table mt-5">
      <thead>
      <tr><th *ngFor="let col of columns">{{col?.label}}</th></tr>
      </thead>
      <tbody>
      <tr *ngFor="let standing of standings">
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.property">
            <ng-container *ngSwitchCase="'logo'"><img style="height: 30px" [src]="standing.logo"></ng-container>
            <ng-container *ngSwitchCase="'teamName'">
              <a [routerLink]="['/standing',leagueId,'fixture', standing.team?.id]">
                {{standing.teamName}}
              </a>
            </ng-container>
            <ng-container *ngSwitchDefault>{{standing[col.property]}}</ng-container>
          </ng-container>
        </td>
      </tr>
      </tbody>
    </table>
</ng-container>

<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>







