.app-container {
  //background-image: url("../assets/background.jpg");
  //background-size: 100%;
  //background-size: cover;
  padding-right: 10vw;
  background-color: white;
  padding-left: 10vw;
  padding-top: 20px;
  .title {
    margin-bottom: 1rem;
    text-align: center;
  }

}
